<html>

  <head>
    <title>Puzzle</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/scripts.js"></script>
  </head>

  <body>

    <div id="puzzle-container"
     data-image1-url="{{ url_for('static', filename='images/0_ (1).png') }}"
     data-image2-url="{{ url_for('static', filename='images/0_ (2).png') }}"
     data-image3-url="{{ url_for('static', filename='images/0_ (3).png') }}"
     data-image4-url="{{ url_for('static', filename='images/0_ (4).png') }}"
     data-image5-url="{{ url_for('static', filename='images/0_ (5).png') }}"
     data-image6-url="{{ url_for('static', filename='images/0_ (6).png') }}"
     data-image7-url="{{ url_for('static', filename='images/0_ (7).png') }}"
     data-image8-url="{{ url_for('static', filename='images/0_ (8).png') }}"
     data-image9-url="{{ url_for('static', filename='images/0_ (9).png') }}"
     data-image10-url="{{ url_for('static', filename='images/0_ (10).png') }}"
     data-image11-url="{{ url_for('static', filename='images/0_ (11).png') }}"
     data-image12-url="{{ url_for('static', filename='images/0_ (12).png') }}"
     data-image13-url="{{ url_for('static', filename='images/0_ (13).png') }}"
     data-image14-url="{{ url_for('static', filename='images/0_ (14).png') }}"
     data-image15-url="{{ url_for('static', filename='images/0_ (15).png') }}"
     data-image16-url="{{ url_for('static', filename='images/0_ (16).png') }}"
     data-image17-url="{{ url_for('static', filename='images/0_ (17).png') }}"
     data-image18-url="{{ url_for('static', filename='images/0_ (18).png') }}"
     data-image19-url="{{ url_for('static', filename='images/0_ (19).png') }}"
     data-image20-url="{{ url_for('static', filename='images/0_ (20).png') }}"
     data-image21-url="{{ url_for('static', filename='images/0_ (21).png') }}"
     data-image22-url="{{ url_for('static', filename='images/0_ (22).png') }}"
     data-image23-url="{{ url_for('static', filename='images/0_ (23).png') }}"
     data-image24-url="{{ url_for('static', filename='images/0_ (24).png') }}"
     data-image25-url="{{ url_for('static', filename='images/0_ (25).png') }}"
     data-image26-url="{{ url_for('static', filename='images/0_ (26).png') }}"
     data-image27-url="{{ url_for('static', filename='images/0_ (27).png') }}"
     data-image28-url="{{ url_for('static', filename='images/0_ (28).png') }}"
     data-image29-url="{{ url_for('static', filename='images/0_ (29).png') }}"
     data-image30-url="{{ url_for('static', filename='images/0_ (30).png') }}"
     data-image31-url="{{ url_for('static', filename='images/0_ (31).png') }}"
     data-image32-url="{{ url_for('static', filename='images/0_ (32).png') }}"
     data-image33-url="{{ url_for('static', filename='images/0_ (33).png') }}"
     data-image34-url="{{ url_for('static', filename='images/0_ (34).png') }}"
     data-image35-url="{{ url_for('static', filename='images/0_ (35).png') }}"
     data-image36-url="{{ url_for('static', filename='images/0_ (36).png') }}"
     data-image37-url="{{ url_for('static', filename='images/0_ (37).png') }}"
     data-image38-url="{{ url_for('static', filename='images/0_ (38).png') }}"
     data-image39-url="{{ url_for('static', filename='images/0_ (39).png') }}"
     data-image40-url="{{ url_for('static', filename='images/0_ (40).png') }}"
     data-image41-url="{{ url_for('static', filename='images/0_ (41).png') }}"
     data-image42-url="{{ url_for('static', filename='images/0_ (42).png') }}"
     data-image43-url="{{ url_for('static', filename='images/0_ (43).png') }}"
     data-image44-url="{{ url_for('static', filename='images/0_ (44).png') }}"
     data-image45-url="{{ url_for('static', filename='images/0_ (45).png') }}"
     data-image46-url="{{ url_for('static', filename='images/0_ (46).png') }}"
     data-image47-url="{{ url_for('static', filename='images/0_ (47).png') }}"
    >
    </div>

  </body>
  
  <footer>
      <p>
          地図データは<a href="https://maps.gsi.go.jp/#5/36.120128/140.097656/&base=blank&ls=blank&disp=1&vs=c1g1j0h0k0l0u0t0z0r0s0m0f1&d=m">国土地理院</a>の白地図から取得しました。
      </p>
  </footer>

</html>
